galeria.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="galeria">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="elemento" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="titulo" type="xs:string"/>
                            <xs:element name="categoria" type="xs:string"/>
                            <xs:element name="año" type="xs:positiveInteger"/>
                            <xs:element name="descripcion" type="xs:string"/>
                            <xs:element name="imagen" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
